<div class="container-fluid">
  <h1>{{title}}</h1>
  <p>{{subheading}}</p>
  <app-about></app-about>
  <app-login></app-login>
  <app-register></app-register>
  <input type="text" #idName (keyup.enter)="getalert(idName.value)" />
  <br />
  <label>Real Time Text</label><br />
  <input type="text" (keyup)="getText($event.target.value)" />
  <h1>{{realText}}</h1>
  <br />
  <input type="text" [disabled]="isdisable" value="Madhab" />
  <br />
  <input type="text" disabled={{isdisable}} value="Madhab" />
  <br />
  <button (click)='edit()'>Edit</button>
  <br />For loop in angular<br />
  <ul *ngFor="let i of myArray">
    <li>{{i}}</li>
  </ul>
</div>
<div *ngIf="isdisable else logged">
  You are logged in
</div>
<ng-template #logged>
  You are not logged in
</ng-template>
<br />
<br />
Switch Case
<select (change)="setColor($event.target.value)">
  <option value="red">Red</option>
  <option value="green">Green</option>
  <option value="blue">Blue</option>
  <option value="yellow">Yellow</option>
</select>
<div [ngSwitch]=choice>
  <h1 *ngSwitchCase="'red'">Red is selected</h1>
  <h1 *ngSwitchCase="'green'">Green is selected</h1>
  <h1 *ngSwitchCase="'blue'">Blue is selected</h1>
  <h1 *ngSwitchCase="'yellow'">Yellow is selected</h1>
  <h1 *ngSwitchDefault>No colour is selected</h1>
</div><br /><br />
<h1>Routing</h1>
<a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Login</a><br />
<a routerLink="/register" routerLinkActive="active">Register</a><br />
<a routerLink="/about" routerLinkActive="active">About</a><br />
<a routerLink="/profile" routerLinkActive="active">Profile</a><br />

<button (click)="onClickFunc()">Login</button>
<div class="col-md-6">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<router-outlet></router-outlet>